<p id="notice"><%= notice %></p>

<p>
  <strong>Empname:</strong>
  <%= @employee.empname %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @employee.joined %>
</p>

<p>
  <strong>Left:</strong>
  <%= @employee.left %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
