<%= form_with(model: prodingrediant, local: true) do |form| %>
  <% if prodingrediant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prodingrediant.errors.count, "error") %> prohibited this prodingrediant from being saved:</h2>

      <ul>
      <% prodingrediant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :productname %>
    <%= form.text_field :productname %>
  </div>

  <div class="field">
    <%= form.label :categoryname %>
    <%= form.text_field :categoryname %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
