<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productname %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @product.productimage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @product.saleprice %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Purchaseprice:</strong>
  <%= @product.purchaseprice %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
