<!DOCTYPE html>
<html>
  <head>
    <title>Cakentake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:lightblue;">
      <center>
          <table bgcolor="white" width="90%">
          <tr><td><%= render "layouts/header" %></td></tr>
          <tr><td height='300' valign='top'><%= yield %></td></tr>
          <tr><td><%= render "layouts/footer" %></td></tr>
       </table>
       </center>
    
  </body>
</html>
